# Python virtual environment
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]  # Ignore Python bytecode files
*.pyo


# Node.js modules
node_modules/

# Build output
dist/
build/

# Static files (if applicable)
static/
*.log  # Ignore log files